@model IEnumerable<HangfireHost.Models.ScheduleModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <title>Enable tasks</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="Tasks" asp-action="RunTaskSchedule" asp-route-scheduleName="@item.Name">Run</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>